/* Layout */

body {
    font:normal 17px/2.5em "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#cccccc;
	margin:0;
	padding:0;
	background:#cce6ff;
}

p {
	color:#000000;
	margin:0 30px 30px;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:700px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
}

#header {
	color: #0077e6;
	margin:0 1px;
}

#main-content {
	margin:0 auto;
}

#personal-image {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align:center;
}

#photo {
	width:300px;
	padding:30px 30px 30px;
	float:left;
}


.photo {
	background:#ffffff;
	border:1px solid #f0e9eb;
	padding:15px;
}

#welcome {
	text-align: center;
	margin-top: 10px;
	margin-bottom:30px;
	font:normal 35px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#000000;
}

h1 {
	color:#000000;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#aaaaaa;
	font:italic 17px "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#footnote {
	text-align: right;
	font:normal 14px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#000000;
}